@viewport { width: device-width; }

html {
  // background-color: $white;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  overflow-x: hidden;
  font-size: 87.5%; //14px
}

* {
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: ($base-line-height / $base-font-size) + em;
  background-color: $white;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: darken($color-link, 20%);
  }
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: $color-text-alt;
  @extend .font-family-display;
  // font-family: $font-family-display;
  // font-weight: $font-weight-medium;
}

p {
  margin-top: 0;
  margin-bottom: $base-line-height/$base-font-size + em;
}

ul,
ol {
  padding-left: 20px;
}

form,
fieldset {
  margin-bottom: em(25);
}
