/* ===================================================================
  COMMON CONTENT TYPOGRAPHY
=================================================================== */
.text-highlight {
  @include font-size(24);
  line-height: em(34, 24);
  display: block;
}

.text-large {
  display: block;
  font-weight: $font-weight-medium;
  @include font-size(24);
  line-height: em(30, 24);
  margin-bottom: 30px;
}


/* Post Single Typography
------------------------------------------------------------------- */
.entry-content {
  p, ul, ol {
    margin-top: 0;
    margin-bottom: 1.2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  blockquote {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    border-left: 2px solid $color-text;

    @include for-tablet-portrait-up {
      margin-left: 70px;
    }
  }

  blockquote p {
    padding-left: 20px;
    @include font-size(16);
    line-height: em(26, 16);
  }

  p > img {
    margin-bottom: 20px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-family: $font-family-default;
    font-weight: $font-weight-semibold;
  }
}

// h1, .h1 {
//   font-size: 2rem;
//   line-height: 2.76rem;
// }

// h2, .h2 {
//   font-size: 1.51572rem;
//   line-height: 2.07rem;
// }

// h3, .h3 {
//   font-size: 1.31951rem;
//   line-height: 2.07rem;
// }

// h4, .h4 {
//   font-size: 1rem;
//   line-height: 1.38rem;
// }

// h5, .h5 {
//   font-size: 0.87055rem;
//   line-height: 1.38rem;
// }

// h6, .h6 {
//   font-size: 0.81225rem;
//   line-height: 1.38rem;
// }

h1, .h1 {
  @include font-size(32);
  line-height: em(38, 32);

  @include for-tablet-portrait-up {
    @include font-size(46);
    line-height: em(40, 46);
  }
}

h2, .h2 {
  @include font-size(26);
  line-height: em(34, 26);

  @include for-tablet-portrait-up {
    @include font-size(30);
    line-height: em(36, 30);
  }
}

h3, .h3 {
  @include font-size(22);
  line-height: em(28, 22);

  @include for-tablet-portrait-up {
    @include font-size(24);
    line-height: em(32, 24);
  }
}

h4, .h4 {
  @include font-size(18);
  line-height: em(24, 18);

  @include for-tablet-portrait-up {
    @include font-size(20);
    line-height: em(30, 20);
  }
}

h5, .h5 {
  @include font-size($base-font-size);
  line-height: em($base-line-height);
}

h6, .h6 {
  @include font-size(14);
  line-height: em(22, 14);
}


hr,
.divider {
  height: 1px;
  background-color: $color-gray;
  margin-top: $gutter;
  margin-bottom: $gutter;
  border: 0;
}

blockquote+h2,
blockquote+h3,
blockquote+h4,
blockquote+h5,
blockquote+h6,
form+h2,
form+h3,
form+h4,
form+h5,
form+h6,
ol+h2,
ol+h3,
ol+h4,
ol+h5,
ol+h6,
p+h2,
p+h3,
p+h4,
p+h5,
p+h6,
table+h2,
table+h3,
table+h4,
table+h5,
table+h6,
ul+h2,
ul+h3,
ul+h4,
ul+h5,
ul+h6 {
  margin-top: 2em;
}

.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.aligncenter,
img.aligncenter {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  display: block;
}

p .alignnone {
  margin-bottom: 0;
}

.wp-caption {
  margin-bottom: 40px;
  padding-top: 5px;
  width: auto;
  max-width: 100%;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 10px;
}

.wp-caption-text {
  @include font-size(13);
  line-height: em(19, 13);
  color: #888;
  letter-spacing: 1px;
  text-align: left;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  display: inline;
  float: left;
  margin-right: 1.5em;
  text-align: right;
  margin-left: 0;
  width: 33%;
}

blockquote.right {
  display: inline;
  float: right;
  margin-left: 1.5em;
  text-align: left;
  margin-right: 0;
  width: 33%;
}

.gallery-caption {
}

.fit-vids-style {
  display: none;
}

.entry-content li {
  line-height: em(22);
  margin-bottom: 10px;
}

@media (max-width: 414px) {
  .alignleft,
  img.alignleft,
  .alignright,
  img.alignright {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-item img {
  border: 0 !important;
}

@media (max-width: 767px) {
  .gallery-item {
    width: 33.3% !important;
  }
}

@media (max-width: 414px) {
  .gallery-item {
    width: 50% !important;
  }
}

@media (max-width: 320px) {
  .gallery-item {
    width: 100% !important;
  }
}