@import url(//hello.myfonts.net/count/36d3e9);html {
  font-size: 87.5%;
}

@viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  overflow-x: hidden;
  font-size: 87.5%;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #444;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 1.71429em;
  background-color: #fff;
}

a {
  background: transparent;
  color: #41B6A9;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #266b63;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #222;
}

p {
  margin-top: 0;
  margin-bottom: 1.71429em;
}

ul,
ol {
  padding-left: 20px;
}

form,
fieldset {
  margin-bottom: 1.78571em;
}

/* ===================================================================
  COMMON CONTENT TYPOGRAPHY
=================================================================== */

.text-highlight {
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 1.41667em;
  display: block;
}

.text-large {
  display: block;
  font-weight: 500;
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 1.25em;
  margin-bottom: 30px;
}

/* Post Single Typography
------------------------------------------------------------------- */

.entry-content p,
.entry-content ul,
.entry-content ol {
  margin-top: 0;
  margin-bottom: 1.2em;
}

.entry-content p:last-child,
.entry-content ul:last-child,
.entry-content ol:last-child {
  margin-bottom: 0;
}

.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ol,
.entry-content ol ul {
  margin-bottom: 0;
}

.entry-content blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 0;
  border-left: 2px solid #444;
}

@media screen and (min-width: 600px) {
  .entry-content blockquote {
    margin-left: 70px;
  }
}

.entry-content blockquote p {
  padding-left: 20px;
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.625em;
}

.entry-content p > img {
  margin-bottom: 20px;
}

.entry-content a:hover {
  text-decoration: underline;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: 0.5em;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial", sans-serif;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 32px;
  font-size: 2.28571rem;
  line-height: 1.1875em;
}

@media screen and (min-width: 600px) {
  h1,
  .h1 {
    font-size: 46px;
    font-size: 3.28571rem;
    line-height: 0.86957em;
  }
}

h2,
.h2 {
  font-size: 26px;
  font-size: 1.85714rem;
  line-height: 1.30769em;
}

@media screen and (min-width: 600px) {
  h2,
  .h2 {
    font-size: 30px;
    font-size: 2.14286rem;
    line-height: 1.2em;
  }
}

h3,
.h3 {
  font-size: 22px;
  font-size: 1.57143rem;
  line-height: 1.27273em;
}

@media screen and (min-width: 600px) {
  h3,
  .h3 {
    font-size: 24px;
    font-size: 1.71429rem;
    line-height: 1.33333em;
  }
}

h4,
.h4 {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 1.33333em;
}

@media screen and (min-width: 600px) {
  h4,
  .h4 {
    font-size: 20px;
    font-size: 1.42857rem;
    line-height: 1.5em;
  }
}

h5,
.h5 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.71429em;
}

h6,
.h6 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.57143em;
}

hr,
.divider {
  height: 1px;
  background-color: #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
}

blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6,
form + h2,
form + h3,
form + h4,
form + h5,
form + h6,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
table + h2,
table + h3,
table + h4,
table + h5,
table + h6,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 2em;
}

.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.aligncenter,
img.aligncenter {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  display: block;
}

p .alignnone {
  margin-bottom: 0;
}

.wp-caption {
  margin-bottom: 40px;
  padding-top: 5px;
  width: auto;
  max-width: 100%;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 10px;
}

.wp-caption-text {
  font-size: 13px;
  font-size: 0.92857rem;
  line-height: 1.46154em;
  color: #888;
  letter-spacing: 1px;
  text-align: left;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  display: inline;
  float: left;
  margin-right: 1.5em;
  text-align: right;
  margin-left: 0;
  width: 33%;
}

blockquote.right {
  display: inline;
  float: right;
  margin-left: 1.5em;
  text-align: left;
  margin-right: 0;
  width: 33%;
}

.fit-vids-style {
  display: none;
}

.entry-content li {
  line-height: 1.57143em;
  margin-bottom: 10px;
}

@media (max-width: 414px) {
  .alignleft,
  img.alignleft,
  .alignright,
  img.alignright {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-item img {
  border: 0 !important;
}

@media (max-width: 767px) {
  .gallery-item {
    width: 33.3% !important;
  }
}

@media (max-width: 414px) {
  .gallery-item {
    width: 50% !important;
  }
}

@media (max-width: 320px) {
  .gallery-item {
    width: 100% !important;
  }
}

/* ===================================================================
  HELPER
=================================================================== */

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.layer-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layer-cover-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-family-display,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FilsonProMedium", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial", sans-serif;
  font-weight: 500;
}

/* Font Weight Helper
------------------------------------------------------------------- */

.font-weight-normal {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

/* Text Align Helper
------------------------------------------------------------------- */

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

/* Background Color Helper
------------------------------------------------------------------- */

.background-color-lightgray {
  background-color: #f5f5f5;
}

.background-color-dark {
  background-color: #222;
}

.background-color-secondary {
  background-color: #768740;
}

.background-color-lightblue {
  background-color: #EBF5F6;
}

.background-color-gray-3 {
  background: #f8f8f8;
}

/* Text Color Helper
------------------------------------------------------------------- */

.text-color-primary {
  color: #41B6A9;
}

.text-color-white {
  color: #fff;
}

.text-color-gray {
  color: #ccc;
}

.text-color-gray-1 {
  color: #999;
}

.text-color-gray-2 {
  color: #eee;
}

.text-color-text {
  color: #444;
}

/* Margin Helper
------------------------------------------------------------------- */

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

/* Float Helper
------------------------------------------------------------------- */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

/* Font Size Helper
------------------------------------------------------------------- */

.text-small {
  font-size: 12px;
  font-size: 0.85714rem;
}

.text-medium {
  font-size: 18px;
  font-size: 1.28571rem;
}

.text-large {
  font-size: 22px;
  font-size: 1.57143rem;
}

/* List Helper
------------------------------------------------------------------- */

.spaced-list li {
  margin-bottom: 20px;
}

/* Is Loading
------------------------------------------------------------------- */

.is-loading {
  opacity: 0.3;
  cursor: wait;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJlZGl0b3Itc3R5bGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/