/*
Theme Name: Clinics By Design
Theme URI:
Description: Clinics By Design WordPress Themes
Author: Jen Clark Design
Author URI: http://jenclarkdesign.com.au
Version: 1.0
*/

/**
 * Add Custom CSS here
 */

.project-category-item__image img {
    display: none;
}

@media only print {
    .hero-section__image {
        height: auto !important;
    }

    .hero-section__image-bg img,
    .about-section__image img {
        opacity: 1;
    }

    .project-categories-item__image-wrapper {
        display: none;
    }

    .project-category-item__image,
    .about-section__image {
        background: none !important;
    }

    .project-category-item__image img {
        display: block;
    }

    .project-list {
        height: auto !important;
    }

    .project-item__inner {
        height: auto;
        padding: 0;
    }

    .project-item {
        margin-bottom: 20px;
        width: 50%;
        position: static !important;
        margin-bottom: 50px;
    }

    .project-item:nth-child(2n+3) {
        clear: left;
    }

    .project-item__inner .layer-cover {
        opacity: 1;
        position: static;
    }

    .project-item__title {
        color: #333;
        opacity: 1;
        display: block;
        width: 100%;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        font-size: 24px;
    }
}