/* ===================================================================
  BLOG ITEM
=================================================================== */
.blog-list-wrapper {
  margin-bottom: -40px;

  @include for-tablet-landscape-up {
    margin-bottom: -60px;
  }
}

.blog-item {
  // margin-bottom: 40px;
  margin-bottom: 60px;
  
  @include for-tablet-landscape-up {
  }
}

.blog-item__image {
  margin-bottom: 20px;

  img {
    display: block;
    width: 100%;
  }
}

.blog-item__title {
  @include font-size(20);
  line-height: em(32, 24);
  margin: 0 0 17px;
  word-wrap: break-word;

  a {
    display: block;
  }
  
  &, a {
    color: $color-text;
  }

  a:hover {
    color: $color-primary;
  }

  @include for-tablet-portrait-up {
    @include font-size(24);
  }
}

.blog-item__excerpt {
  @include font-size(14);
  color: $color-text;
  line-height: em(22, 14);
  margin-bottom: 20px;
}

.blog-item__meta {
  @include font-size(11);
  line-height: em(22, 11);
  text-transform: uppercase;
  
  &, a {
    color: #aaa;
  }

  a:hover {
    color: $color-primary;
  }

  .sep {
    display: inline-block;
    margin: 0 8px;
  }
}

.blog-item__content {
  border: 1px solid #ddd;
  padding: 30px 30px 60px;
}