/* ===================================================================
  CONTACT INFO
=================================================================== */
.contact-info-block {
  ul {
    @include reset-list;
    @include font-size(12);
  }

  li {
    margin-bottom: 0;
    word-wrap: break-word;
  }
}