/* ===================================================================
  PAGE HEADING
=================================================================== */
.page-heading {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-tablet-portrait-up {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.page-heading__title {
  position: relative;
  text-align: center;
  text-transform: uppercase;

  .single & {
    text-transform: none;
  }

  @include for-desktop-up {
    @include font-size(56);
  }
}

.page-heading__title-border {
  display: block;
  background: $color-primary;
  height: 4px;
  width: 150px;
  margin: 18px auto 0;
}

.page-heading__background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 560px;
  overflow: hidden;
  z-index: -1;
  opacity: 0.1;
  filter: grayscale(1);

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(#fff, 0) 19%, rgba(#FFFFFF, 1) 96%);
  }
}