/* ===================================================================
  SOCIAL LINKS
=================================================================== */
.social-links {
  margin-left: -3px;

  a {
    color: $color-text;
    display: inline-block;
    min-width: 1em;
    line-height: 1em;
    padding: 0.2em;
    margin-right: 0.5em;

    &:hover {
      color: $color-link;
    }
  }

  i {
    display: block;
  }
}