/* ===================================================================
  WIDGET CATEGORIES
=================================================================== */
.widget_categories {
  li {
    display: inline-block;
    margin-right: 6px;
  }

  li > a {
    display: block;
    @include font-size(13);
    color: #888;
    line-height: em(18, 13);
    padding: 10px 20px;
    border: 1px solid #ddd;
    transition: 0.3s ease;
  }

  li > a:hover {
    color: $color-primary;
    border-color: $color-primary;
    box-shadow: 0 0 0 1px $color-primary inset;
    text-shadow: 0 0 0 $color-primary;
  }
}