/* ===================================================================
  WIDGETS
=================================================================== */
.sidebar {
  padding-top: 60px;

  @include for-tablet-landscape-up {
    padding-top: 0;
    padding-left: 60px;
  }
}

.widget {
  margin-bottom: 60px;
  @include font-size(14);
  line-height: em(22, 14);

  @include for-tablet-landscape-up {
    margin-bottom: 80px;
  }

  ul {
    @include reset-list;
  }
  
  li {
    margin-bottom: 10px;
  }

  li > a {
    color: $color-text;

    &:hover {
      color: $color-primary;
    }
  }
}

.widget-title {
  @include font-size(14);
  line-height: em(19, 14);
  margin: 0 0 30px;
  color: $color-text;
  text-transform: uppercase;
}

@import 'categories';
@import 'popular-posts';