/* ===================================================================
  POPULAR POSTS
=================================================================== */
.widget-popular-post {
  li {
    margin-bottom: 20px;

    @include for-tablet-landscape-up {
      margin-bottom: 30px;
    }
  }
}