/* ===================================================================
  TABLES
=================================================================== */
table {
  width: 100%;
  margin-bottom: 40px;
  table-layout: fixed;

  th, td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    // vertical-align: top;
    border-bottom: 1px solid $color-gray-2;
  }

  .no-border {
    border-color: transparent;
  }

  .small-padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.table--no-border-top {
  border-top: 0;
}


/* Table Head
------------------------------------------------------------------- */
table thead {
  th {
    background: #f8f8f8;
  }
}