/* ===================================================================
  CONTACT FORM
=================================================================== */
.form-row {
  margin-bottom: 30px;

  @include for-tablet-portrait-up {
    margin-bottom: $gutter;
  }

  > br {
    display: none;
  }
}

.contact-form {

  // input[type="tel"], 
  // input[type="text"], 
  // input[type="email"], 
  // input[type="password"], 
  // input[type="number"], 
  // input[type="file"], 
  // textarea {
  //   padding: 13px 0;
  //   border-left: 0;
  //   border-top: 0;
  //   border-right: 0;
  // }

  // .wpcf7-submit {
  //   margin-top: 30px;
  // }
}

.form-row span.wpcf7-not-valid-tip {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px 10px;
}

.alert,
div.wpcf7-response-output {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

.alert-success,
.wpcf7-mail-sent-ok {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger,
div.wpcf7-validation-errors {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.contact-form .ajax-loader {
  background: #fff;
  vertical-align: middle;
  padding: 4px;
  border-radius: 3px;
}