/* ===================================================================
  INPUT GROUP
=================================================================== */
.input-group {
  position: relative;
  display: table;
  width: 100%;

  .form-field,
  .input-group__button {
    display: table-cell;
    vertical-align: middle;
    margin: 0
  }

  .form-field {
    position: relative;
    z-index: 10;
  }

  .button {
    margin-left: -1px;
    // height: 40px;
    border-width: 1px;
  }
}

.input-group__button {
  position: relative;
  white-space: nowrap;
  width: 1%;
}