/* ===================================================================
  SEARCH FORM
=================================================================== */
.search-form {
  position: relative;
  
  input {
    border-color: #ddd;
    padding-right: 50px;
    background: $white;
  }
}

.search-form__button {
  position: absolute;
  top: 15px;
  right: 20px;
  // color: $color-secondary;
  @include font-size(20);
  line-height: 1;
  outline: 0;
}