/* ===================================================================
  MAIN NAVIGATION
=================================================================== */
.main-nav {
  // white-space: nowrap;
  
  ul {
    @include reset-list;
  }

  li {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    text-align: left;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $color-text;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    // font-family: $font-family-display;
    @extend .font-family-display;
  }

  a:hover,
  .menu-highlight > a,
  .current-menu-item > a {
    color: $color-primary;
    border-bottom-color: $color-primary;
  }

  // Phone Number
  .menu-contact {
    a {
      color: $color-primary;
      @include font-size(18);
    }

    a, i {
      display: block;
    }
  }

  @include for-desktop-up {
    li {
      margin-left: 18px;
    }

    .phone {
      padding-left: 18px;
      border-left: 1px solid #333;
    }
  }
}