/* ===================================================================
  ABOUT SECTION
=================================================================== */
.about-section {
  background-color: $color-gray-3;
}

.about-section__item {
  position: relative;
}

.about-section__inner {
  @include for-tablet-landscape-up {
    max-width: 440px;
  }
}

.about-section__image {
  img {
    opacity: 0;
  }
  
  @include for-tablet-landscape-up {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.about-section__description {
  @include font-size(18);
  line-height: em(26, 18);
  // font-family: $font-family-display;
  @extend .font-family-display;
}

.about-section__button {
  display: block;
}