/* ===================================================================
  HERO SECTION
=================================================================== */
.hero-section {
  position: relative;
}

.hero-section--text-only {
  // background-color: $color-gray-3;
}

.hero-section__image {
  background-color: #eee;
  overflow: hidden;
  position: relative;

  img {
    opacity: 0;
    display: block;
  }
}

.hero-section__image-bg {
  filter: grayscale(1);
  
  @include at-query($min, 1024px) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.hero-section__image-overlay {
  background: $color-primary;
  opacity: 0.5;
}

.hero-section__title {
  color: #232A50; // TODO: if repeatable, make this a variable

  @include for-desktop-up {
    padding-right: 50px;
  }
}

.hero-section__description {
  @include font-size(18);
  line-height: em(26, 18);
  // font-family: $font-family-display;
  @extend .font-family-display;
}

.hero-section__content {
  @include for-tablet-landscape-up {
    padding-left: 60px;
  }
}

.hero-section__button {
  display: block;
}

/* Slides
------------------------------------------------------------------- */
.hero-section__slides,
.hero-section__slides div {
  height: 100%;
}

.hero-section__slide-item {
  position: relative;
  display: block !important;
}


/* Text
------------------------------------------------------------------- */
.hero-section__text-content {
  position: relative;
  z-index: 10;
}

.flexbox {
  .hero-section__text-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.hero-section__text {
  padding-top: $gutter;
  max-width: 450px;

  .flexbox & {
    padding-top: 0;
  }
}

.hero-section {
  &__title-large {
    color: $white;
    @include font-size(30);
    margin: 0 0 10px;
    line-height: 1;
  }

  &__subtitle {
    color: $white;
    @include font-size(18);
  }

  @include for-tablet-portrait-up {
    &__title-large {
      @include font-size(48);
    }

    &__subtitle {
      @include font-size(22);
    }
  }
}
