/* ===================================================================
  INSTAGRAM SECTION
=================================================================== */
.instagram-section__title {
  @include font-size(28);
  margin-top: 0;
  margin-bottom: 50px;
}


/* Instagram Block
------------------------------------------------------------------- */
.block-square__inner {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.block-square__center {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-item {
  margin-bottom: 20px;

  @include for-tablet-landscape-up {
    padding-left: 30px;
    margin-bottom: 30px;
  }
}

.instagram-item-list {
  @include for-tablet-landscape-up {
    margin-left: -30px;
  }  
}
