/* ===================================================================
  PROJECT CATEGORIES
=================================================================== */
.project-categories-section {
  background-color: $color-gray-3;
}

.project-categories-list-wrapper {
  margin-bottom: -60px;
}

.project-categories-item {
  margin-bottom: 60px;
}

.project-categories-item__image-wrapper {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.project-categories-item__image {
  width: 160px;
  height: 160px;
  display: table-cell;
  vertical-align: middle;

  img {
    max-width: 160px;
    display: block;
    margin: 0 auto;
  }

  @include for-desktop-up {
    margin-bottom: 30px;
  }
}

.project-categories-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: em(26, 24);

  @include for-desktop-up {
    margin-bottom: 20px;
  }
}

.project-categories-item__description {
  margin-bottom: 25px;
  padding: 0 10px;
}

.project-categories-item__button {
  padding-left: 25px;
  padding-right: 25px;
}