/* ===================================================================
  PROJECT SECTION
=================================================================== */

/* Project Categories
------------------------------------------------------------------- */
.project-category-list {
  @include reset-list;
  margin-bottom: 30px;

  button {
    appearance: none;
    padding: 0;
    // font-family: $font-family-display;
    @extend .font-family-display;
    @include font-size(20);
    background: none;
    border: 0;
    outline: 0;
    border-bottom: 2px solid transparent;
  }

  .all button {
    color: #D0021B;
  }

  .is-active button {
    border-bottom: 2px solid;
  }

  li {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 10px;

    &:nth-child(2n+3) {
      clear: left;
    }
  }

  @include for-tablet-portrait-up {
    text-align: center;
    margin-bottom: 60px;

    li {
      float: none;
      display: inline-block;
      width: auto;
      padding: 0 20px;
    }
  }

  @include for-desktop-up {
    li {
      padding: 0 35px;
    }
  }
}


/* Project Item
------------------------------------------------------------------- */
.project-item {
  margin-bottom: 20px;

  @include at-query ($min, $small) {
    margin-bottom: 40px;
  }
}

.project-item__inner {
  height: 0;
  padding-bottom: 72%;
  position: relative;
}

.project-item__overlay {
  opacity: 0;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  transition: opacity 0.3s ease;

  .project-item:hover & {
    opacity: 1;
  }

  .flexbox & {
    display: flex;
    align-items: flex-end;
  }
}

.project-item__overlay-bg {
  background-color: $color-text;
  opacity: 0.8;
}

.project-item__title {
  color: $white;
  margin: 0;
  word-wrap: break-word;
  opacity: 0;
  will-change: transform;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  @include font-size(14);
  position: relative;
  z-index: 10;

  .project-item:hover & {
    opacity: 1;
    transform: translateY(0);
  }

  @include for-tablet-portrait-up {
    @include font-size(18);
  }
}