/* ===================================================================
  TEXT BANNER
=================================================================== */
.text-banner {
  position: relative;

  @include for-desktop-up {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.text-banner__wrapper {
  position: relative;
  z-index: 10;
}

.text-banner__title {
  margin: 0;

  .text-banner--light & {
    color: $white;
  }

  @include for-desktop-up {
    @include font-size(60);
    line-height: 1.3em;
  }
}

.text-banner__image {
  opacity: 0.1;
  filter: grayscale(1);
}