/* ===================================================================
  FORM: SELECT FIELD
=================================================================== */
.select-field {
  position: relative;
  display: block;
  background-color: $color-form-background;

  select {
    width: 100%;
    margin: 0;
    outline: 0;
    padding: 1.072em .8em;
    box-sizing: border-box;
    color: $color-text;
    font-family: $font-family-default;
    @include font-size(14);
  }

  &:after {
    font-family: icomoon;
    @extend .icon-chevron-down:before;
    position: absolute;
    top: 50%;
    right: 1em;
    z-index: 2;
    pointer-events: none;
    display: none;
    margin-top: -8px;
    line-height: 1;
  }

  @supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {
    &:after {
      display: block;
    }

    select {
      padding-right: 2em; 
      background: none;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}