/* ===================================================================
  ICON FONT
=================================================================== */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot');
  src:  url('fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf') format('truetype'),
    url('fonts/icomoon/icomoon.woff') format('woff'),
    url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-google:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
