/* ===================================================================
  MAGNIFIC POPUP
=================================================================== */
// Configure the Magnific popup settings
$mfp-popup-padding-left: 0;
$mfp-popup-padding-left-mobile: 0;
$mfp-use-visuallyhidden: true;

@import "~magnific-popup/src/css/settings";
@import "~magnific-popup/src/css/main";

/**
 * Animation
 */
.mfp-zoom-anim {
  .zoom-anim-dialog {
    opacity: 0;
  }

  .zoom-anim-dialog, 
  .zoom-anim-dialog__inner {
    transition: all 0.2s ease-out;
  }

  .zoom-anim-dialog__inner {
    will-change: transform;
    transform: translateY(20px);      
  }

  &.mfp-ready {
    .zoom-anim-dialog {
      opacity: 1;
    }

    .zoom-anim-dialog__inner {
      transform: translateY(0);
    }
  }

  &.mfp-removing {
    .zoom-anim-dialog {
      opacity: 0;
    }

    .zoom-anim-dialog__inner {
      transform: translateY(20px);
    }
  }

  &.mfp-bg {
    background: #f5f5f5;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.mfp-ready {
      opacity: 0.9;
    }

    &.mfp-removing {
      opacity: 0;
    }
  }
}

.mfp-full-screen.mfp-bg {
  background: #000;

  @include for-tablet-portrait-up {
    background: $white;
  }
}
