/* ===================================================================
  MMENU
=================================================================== */
$mm_css_buttons: false;
$mm_css_listviews: false;
$mm_css_navbars: false;
$mm_css_vertical: false;

$mm_backgroundColor: $color-primary;
$mm_textColor: #fff;
$mm_dimmedTextColor: rgba(#fff, 0.3);
$mm_navbarColor: #fff;
$mm_fontSize: 16px;
$mm_emphasizedBackgroundColor: rgba(#000, 0.5);

$mm_pagedimOpacity: 0.6;

@import "~jquery.mmenu/src/core/oncanvas/jquery.mmenu.oncanvas";
@import "~jquery.mmenu/src/core/offcanvas/jquery.mmenu.offcanvas";
@import "~jquery.mmenu/src/core/screenreader/jquery.mmenu.screenreader";
@import "~jquery.mmenu/src/extensions/pagedim/jquery.mmenu.pagedim";
@import "~jquery.mmenu/src/extensions/positioning/jquery.mmenu.positioning";
@import "~jquery.mmenu/src/extensions/borderstyle/jquery.mmenu.borderstyle";
@import "~jquery.mmenu/src/addons/navbars/jquery.mmenu.navbars";

.side-panel {
  display: none;
}

html.mm-front {
  #mm-blocker
  {
    z-index: 1000;
  }
  .mm-menu.mm-offcanvas
  {
    z-index: 2000;
  }
}