/* ===================================================================
  SUPERFISH MENU
=================================================================== */
.sf-menu {
  &, * {
    margin: 0;
    padding: 0;
    list-style: none;  
  }

  li {
    position: relative;
  }
  
  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;  
  }

  > li {
    display: inline-block;
  }

  li:hover,
  li.sfHover {
    ul {
      display: block;
    }
  }

  a {
    display: block;
    position: relative;  
  }

  ul ul {
    top: 0;
    left: 100%;  
  }
}