/* ===================================================================
  BUTTON MODIFIER
=================================================================== */
.button--uppercase {
  text-transform: uppercase;
}

.button--small {
  padding-left: 10px;
  padding-right: 10px;
  @include font-size(12);
}

.button--large {
  @include font-size(18);
  padding-top: 9px;
  padding-bottom: 9px;
  letter-spacing: 3px;
}

.button--wide {
  padding-left: 40px;
  padding-right: 40px;
}

.button--extra-wide {
  padding-left: 90px;
  padding-right: 90px;
}

.button--no-rounded {
  border-radius: 0;
}

.button--fullwidth {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.button--reset {
  padding: 0;
  border: 0;
  background: none;

  &:hover {
    background: none;
  }
}

.button--width-medium {
  width: 148px;
}