/* ===================================================================
  BUTTONS
=================================================================== */
.button {
  display: inline-block;
  // padding: 15px 20px;  
  padding: 11px 20px;
  text-align: center;
  // font-weight: $font-weight-bold;
  // font-family: $font-family-display;
  // font-weight: $font-weight-medium;
  @extend .font-family-display;
  border: 2px solid transparent;
  border-radius: 5px;
  @include font-size($base-font-size);
  line-height: em($base-line-height);
  background-color: $color-gray-2;
  color: $color-text;
  @include antialiased();

  @include hover() {
    color: $color-text;
    background-color: darken($color-gray-2, 5%);
  }

  .disabled,
  &:disabled {
    opacity: 0.2;
  }
}