/* ===================================================================
  BUTTON COLORS
=================================================================== */
$outline-button: true;

/* Primary Color
------------------------------------------------------------------- */
.button--primary {
  color: $white;
  background-color: $color-primary;
  border-color: $color-primary;

  @include hover() {
    color: $white;
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $color-primary;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}

/* Button Dark
------------------------------------------------------------------- */
.button--dark {
  color: $white;
  background-color: $color-text;
  border-color: $color-text;

  @include hover() {
    color: $white;
    background-color: darken($color-text, 15%);
    border-color: darken($color-text, 15%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $color-text;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color-text;
        border-color: $color-text;
      }
    }
  }
}

/* Button White
------------------------------------------------------------------- */
.button--white {
  color: $color-primary;
  background-color: $white;
  border-color: $white;

  @include hover() {
    color: $color-primary;
    background-color: darken($white, 15%);
    border-color: darken($white, 15%);
  }
  
  @if $outline-button == true {
    &.button--outline {
      color: $white;
      background-color: transparent;

      &:hover {
        color: $color-text;
        background-color: $white;
        border-color: $white;
      }
    }
  }
}

/* Button White
------------------------------------------------------------------- */
.button-submit {
  color: $white;
  background: $color-text;
  @include hover() {
    color: $white;
    background-color: darken($color-text, 15%);
    border-color: darken($color-text, 15%); 
  }
  
}