/* ===================================================================
  ABOUT PAGE
=================================================================== */

/* Image with Caption
------------------------------------------------------------------- */
.image-block {
  margin-bottom: 40px;
}

.image-block__caption {
  color: $white;
  background-color: $color-primary;
  // font-family: $font-family-display;
  @extend .font-family-display;
  padding: 20px;
  line-height: em(38, 28);
  @include font-size(20);

  @include for-tablet-portrait-up {
    @include font-size(28);
    padding: 40px;
  }
}

.image-block__inner {
  @include for-desktop-up {
    padding-right: 60px;
  }
}