/* ===================================================================
  CONTACT PAGE
=================================================================== */


/* Contact Sidebar
------------------------------------------------------------------- */
.contact-sidebar {
  .footer-title,
  .contact-sidebar__title {
    @include font-size(20);
    margin-bottom: 30px;
    color: $color-text;
  }

  .contact-info-block {
    margin-bottom: 60px;

    li {
      margin-bottom: 18px;
    }

    span {
      display: block;
    }

    a {
      color: $color-text;
    }

    // .contact-info-block__item--email {
    //   margin-bottom: 0;
    // }
  }

  .social-links a {
    @include font-size(22);
  }
}


/* Maps
------------------------------------------------------------------- */
.acf-map {
  height: 250px;
  
  @include for-tablet-portrait-up {
    height: 500px;
  }
}
