/* ===================================================================
  PROJECT CATEGORY
=================================================================== */
.grid__item.project-category-details__image {
  text-align: center;
  display: none;

  @include for-tablet-landscape-up {
    display: block;
  }
}

.project-category-details__separator {
  margin: 60px 0 90px;
  background-color: #ddd;
}