/* ===================================================================
  SINGLE PROJECT
=================================================================== */
.single-project__content {
  margin-bottom: 60px;

  @include for-desktop-up {
    padding-right: 60px;
  }
}

/* Project Heading
------------------------------------------------------------------- */
.page-heading--project {
  @include for-tablet-portrait-up {
    padding-top: 80px;
    padding-bottom: $gutter;
  }
}

.project-title {
  @include for-desktop-up {
    @include font-size(56);
    line-height: 1.1em;
  }
}

.project-metadata {
  margin-top: 40px;

  &__item {
    margin-bottom: $gutter;

    &__label {
      line-height: 1;
      margin-bottom: 10px;
      font-family: $font-family-display;
      color: #888888;
    }

    &__value {
      color: #333333;
      @include font-size(16);
    }
  }

  @include for-tablet-portrait-up {
    &__item {
      float: left;
      margin-right: $gutter * 2;
    }
  }
}


/* Project Gallery Slides
------------------------------------------------------------------- */
.project-gallery-slides {
  margin-bottom: 25px;

  img {
    display: block;
  }

  @include for-desktop-up {
    margin-bottom: 35px;
  }
}


/* Project Gallery Thumbnails
------------------------------------------------------------------- */
.project-gallery-thumbnails {
  margin-left: -20px;

  @include for-desktop-up {
    margin-left: -30px;
  }
}

.project-gallery-thumbnails__item {
  appearance: none;
  outline: 0;
  background: none;
  border: 0;
  padding: 0 0 0 20px;
  margin-bottom: 20px;
  opacity: 0.25;
  transition: opacity 0.2s ease;

  img {
    width: 100%;
    display: block;
  }

  &:hover,
  &.active {
    opacity: 1;
  }

  @include for-desktop-up {
    padding-left: 30px;
    margin-bottom: 30px;
  }
}


/* Project Gallery Alternative
------------------------------------------------------------------- */
.project-gallery-grid__item {
  margin-bottom: 15px;

  &__link {
    display: block;
    position: relative;

    img {
      display: block;
    }
  }

  &__link--ratio {
    // height: 0;
    // padding-bottom: 62.5%;
  }

  @include for-tablet-portrait-up {
    margin-bottom: 30px;
  }
}

.video-popup {
  max-width: 900px;
  margin: $gutter auto;
  position: relative;

  &__inner {
    background: $white;
  }

  .mfp-close {
    top: -40px;
  }
}

.video-play {
  position: absolute;
  max-width: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}