/* ===================================================================
  WHAT WE DO PAGE TEMPLATE
=================================================================== */

/* Service List
------------------------------------------------------------------- */
.service-item {
  margin-bottom: 60px;
}

.service-item__image {
  float: left;
  width: 50px;
  margin-right: $gutter;

  @include at-query($min, 480px) {
    width: 100px;
  }
}

.service-item__content {
  overflow: hidden;
}

.service-item__title {
  margin: 0 0 8px;
  @include font-size(18);
  line-height: em(26, 18);
}

.service-item--no-image {

  .service-item__image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-primary;
    margin-top: 1px;
  }
}