/* ===================================================================
  FOOTER SECTION
=================================================================== */
.footer-section {
  background: #222;
  padding-top: 60px;
  padding-bottom: 60px;
  // font-family: $font-family-display;
  @extend .font-family-display;

  &, a {
    color: $white;
  }

  a:hover {
    color: $color-primary;
  }

  @include for-desktop-up {
    padding-top: 90px;
  }
}

.footer-title {
  margin-bottom: 20px;
  @include font-size(14);
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1em;
}

.footer-section__grid-item {
  margin-bottom: 40px;

  @include for-tablet-landscape-up {
    margin-bottom: 0;
  }
}


/* Footer Nav
------------------------------------------------------------------- */
.footer-nav {
  ul {
    @include reset-list;
  }

  li {
    margin-bottom: 5px;
  }
}


/* Copyright
------------------------------------------------------------------- */
.copyrights {
  opacity: 0.25;
}

.copyrights--right {
  @include for-tablet-landscape-up {
    text-align: right;
  }
}