/* ===================================================================
  TOP BAR
=================================================================== */
.topbar-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $white;

  .main-nav-grid {
    display: none;
  }

  &,
  .home.js-sticky-bar & {
    box-shadow: 0 5px 10px rgba(#000, 0.1);
  }

  .home & {
    box-shadow: none;
  }

  @include at-query($min, 1070px) {
    padding-top: 30px;
    padding-bottom: 30px;

    .main-nav-grid {
      display: inline-block;
    }

    .mobile-nav-grid {
      display: none;
    }
  }
}

// .topbar-section-grid {
//   display: flex;
//   align-items: center;

//   @include at-query($min, 1070px) {
//     display: block;
//   }
// }


/* Logo
------------------------------------------------------------------- */
.logo__link,
.logo__img {
  display: block;
}


/* Mobile Button
------------------------------------------------------------------- */
.menu-trigger {
  padding: 3px 7px;
  vertical-align: middle;
  display: inline-block;
  background: none;
  border: 0;
  -webkit-appearance: none; 
  outline: 0;
  margin-right: -7px;
}

.menu-trigger__bar {
  height: 2px;
  width: 30px;
  display: block;
  background: $color-text;
  transform-origin: 50% 50%;

  + .menu-trigger__bar {
    margin-top: 8px;
  }
}


/* Contact Bar
------------------------------------------------------------------- */
.contact-bar {
  @include reset-list;
  text-align: right;
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  i {
    display: inline-block;
    margin-right: 5px;
    line-height: 1;
    vertical-align: middle;
    color: $color-primary;
    @include font-size(18);
  }

  a {
    color: #666;
    @extend .font-family-display;

    &:hover {
      color: $color-primary;
    }
  }

  .js-sticky-bar & {
    display: none;
  }
}