/* ===================================================================
  BLOCKS
=================================================================== */
.block-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include for-desktop-up {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.block-section__button {
  width: 100%;
  box-sizing: border-box;

  @include for-tablet-portrait-up {
    display: inline-block;
    width: 273px;
    box-sizing: border-box;
  }
}

.block-section__title {
  @extend .h1;
  margin: 0 0 40px;

  @include for-tablet-portrait-up {
    margin-bottom: 70px;
  }
}

.block-section__title--smaller {
  @include for-tablet-portrait-up {
    @include font-size(36);
    line-height: 1.2em;
  }
}

@import 'team-list';
@import 'testimonial-list';