/* ===================================================================
  TEAM LIST
=================================================================== */
.team-section {
  background: $color-gray-3;
}

.team-list-wrapper {
  margin-bottom: -80px;
}

.team-item {
  margin-bottom: 80px;

  &__image {
    margin-bottom: 30px;

    img {
      max-width: 120px;
      border-radius: 100%;
      margin: 0 auto;
    }
  }

  &__name {
    @include font-size(24);
    line-height: em(26, 24);
    margin: 0 0 5px;
  }

  &__position { 
    color: #888;
    line-height: em(22);
  }

  &__description {
    margin-top: 20px;
    color: $color-text;
  }
}


/* Team Modal Box
------------------------------------------------------------------- */
.mfp-container {
  padding: 0 $gutter * 0.5;
}

.team-popup {
  max-width: 930px;
  margin: $gutter auto;
  position: relative;

  &__inner {
    background: $white;
    padding: $gutter * 0.5;
  }

  &__position {
    @include font-size(14);
  }

  &__long-description {
    margin-top: $gutter;

    h1, h2, h3, h4, h5, h6 {
      color: #444;
    }
  }

  @include for-tablet-portrait-up {
    &__inner {
      padding: 40px;
    }

    &__image img {
      max-width: 210px;
    }
  }

  @include for-tablet-landscape-up {
    &__inner {
      padding: 80px;
    }

    &__image {
      float: left;
      margin-right: 40px;
    }

    &__content {
      overflow: hidden;
    }
  }
}