/* ===================================================================
  TESTIMONIAL
=================================================================== */
.testimonial-item {
  margin-bottom: 30px;

  @include for-tablet-portrait-up {
    margin-bottom: 60px;
  }
}

.testimonial-item__description {
  @include font-size(18);
  line-height: em(28, 18);
  margin-bottom: 30px;
}

.testimonial-item__name {
  @include font-size(24);
  line-height: em(26, 24);
  margin: 0 0 5px;
}

.testimonial-item__position {
  color: #888;
}


/* Slide Navigation
------------------------------------------------------------------- */
.testimonial-slides .slick-dots {
  @include reset-list;
  text-align: center;

  li {
    display: inline-block;
  }

  button {
    appearance: none;
    background: none;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0;
  }

  button:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: block;
    margin: 10px;
    border: 2px solid $color-primary;
  }

  .slick-active button:before {
    background: $color-primary;
  }

  @include for-desktop-up {
    button:before {
      width: 10px;
      height: 10px;
      margin: 5px;
    }
  }
}