/****************menu manager****************/
.jcd_mega_menu_options .jcd_checkbox input{
display: block;
float: left;
margin-bottom: 11px;
margin-right: 7px;
}

.jcd_mega_menu, .jcd_mega_label, .item-type-jcd, .item-type-megafied, .jcd_mega_active.menu-item-depth-2 .description-title, .jcd_mega_active.menu-item-depth-3 .description-title{
display:none;
}

.menu-item-depth-0 .jcd_mega_menu_d0, .jcd_mega_active.menu-item-depth-1 .jcd_mega_menu_d1, .jcd_mega_active.menu-item-depth-2 .jcd_mega_menu_d2, .jcd_mega_active.menu-item-depth-3 .jcd_mega_menu_d2, .jcd_mega_active.menu-item-depth-4 .jcd_mega_menu_d2, .jcd_mega_active.menu-item-depth-5 .jcd_mega_menu_d2, .jcd_mega_active.menu-item-depth-6 .jcd_mega_menu_d2, .jcd_mega_active.menu-item-depth-7 .jcd_mega_menu_d2, .jcd_mega_active.menu-item-depth-8 .jcd_mega_menu_d2{
display:block;
}

#menu-to-edit .item-order{
    display: inline-block;
}

/*depth 0 Specials*/
.jcd_mega_active.menu-item-depth-0 .item-type-megafied{
display:inline;
font-size: 9px;
font-style: italic;
}


/*depth1 specials*/
.jcd_mega_active.menu-item-depth-1 .field-description, .jcd_mega_active.menu-item-depth-1 .link-to-original, .jcd_mega_active.menu-item-depth-1 .description-title, .jcd_mega_active.menu-item-depth-1 .jcd_default_label, .jcd_mega_active.menu-item-depth-1 .field-url, .jcd_mega_active.menu-item-depth-1 .item-type-default{
display:none;
}

.jcd_mega_active.menu-item-depth-1 .jcd_mega_label{
display:inline;
}

.jcd_mega_active.menu-item-depth-1 .item-type-jcd{
display:block;
color: #333333;
}

.jcd_mega_active.menu-item-depth-2 .field-description, .jcd_mega_active.menu-item-depth-3 .field-description, .jcd_mega_active.menu-item-depth-4 .field-description, .jcd_mega_active.menu-item-depth-5 .field-description, .jcd_mega_active.menu-item-depth-6 .field-description, .jcd_mega_active.menu-item-depth-7 .field-description, .jcd_mega_active.menu-item-depth-8 .field-description{
display:block;
}

.jcd_long_desc{
overflow: hidden;
display: block;
}

.jcd_mega_active.menu-item-depth-1 .jcd_label_desc_on_active{
height:auto;
width:auto;
float:none;
}

.jcd_mega_active .jcd_label_desc_on_active .jcd_supersmall{
font-size: 11px;
color:#888;
display:inline-block;
padding:0 0 3px 0;
}

