/**
 * Jcd Maintenance Mode Styles
 * 
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


body {
  color: #454545;
  background: #f5f5f5;
}
.container {
  width: 700px;
  margin: 100px auto 0;
  background: #fff;
  padding: 20px;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.05);
  box-shadow: 0 0 3px rgba(0,0,0,.05);
}

.comingsoon-header {
  margin-bottom: 30px;
}
.comingsoon-header h1 a {
  color: #454545;
}
.comingsoon-header h1 a {
  text-decoration: none;
}
.comingsoon-header h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 5px;
}
.comingsoon-header .description {
  text-align: center;
}
.comingsoon-header-invert .comingsoon-header {
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  background: #333;
  color: #fff;
  text-shadow: 0 1px 3px #000;
}

.countdown-wrapper {
  text-align: center;
  margin-bottom: 30px;
}
.countdown_row {
  width: 100%;
  display: block;
}
.countdown_section {
  color: #777;
  display: inline-block;
  width: 90px;
  background: #f5f5f5;
  padding: 20px 0;
  margin: 0 5px;
}
.countdown_amount {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}

.form-wrapper {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  background: #f5f5f5;
  margin-left: -20px;
  margin-right: -20px;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 15px;
}
.form-wrapper p {
  margin: 0 0 10px;
}

.comingsoon-text {
  max-width: 450px;
  margin: 0 auto;
  text-shadow: 0 1px #fff;
}

.comingsoon-subscribe-form {
  margin-top: 20px;
  margin-bottom: 10px;
}
.comingsoon-subscribe-form input[type="text"],
.comingsoon-subscribe-form input[type="email"] {
  padding: 7px;
  background: #fff;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1) inset;
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1) inset;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1) inset;
}
.comingsoon-subscribe-form input[type="text"]:focus,
.comingsoon-subscribe-form input[type="email"]:focus {
  outline: 0;
  background: #fff;
  border-color: #349ef6;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: thin dotted \9;
}
.comingsoon-subscribe-form input[type="submit"] {
  height: 32px;
  border: 1px solid #333;
  background: #333;
  color: #fff;
  padding: 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.comingsoon-subscribe-form input[type="submit"]:hover {
  background: #222;
}