/**
 * Jcd Maintenance Mode Styles
 * 
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


body {
  color: #454545;
  background: #f5f5f5;
}


.container {
  width: 700px;
  margin: 100px auto 0;
  background: #fff;
  padding: 20px;
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.05);
  box-shadow: 0 0 3px rgba(0,0,0,.05);
}

.maintenance-header h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 30px;
}